* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

.pokedex {
    border: 1px solid black;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}