* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
}

.pokedex {
    border: 1px solid black;
    width: 500px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sprite {
    display: flex;
}

.sprite img {
    width: 275px;
    height: 275px;
}

.description {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* text-align: center; */
}

.name {
    grid-column: span 2;
    text-align: center;
    font-size: 30px;
}