@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

.pokedex {
  border: 1px solid black;
  /* background-color: rgb(233, 57, 57); */
  width: 450px;
  height: 575px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
}

.sprite {
  display: flex;
  width: 100%;
  justify-content: center;
}

.sprite img {
  width: 275px;
}

.description {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  margin: 10px 0;
}

.span {
  grid-column: span 2;
}

.name {
  font-size: 30px;
}

.type {
  font-size: 20px;
  position: relative;
  top: -25px;
}

.height,
.weight {
  line-height: 1.6;
  font-size: 20px;
}

p {
  font-weight: bolder;
}

span {
  font-weight: normal;
}

header > h1 {
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 30px;
  text-align: center;
  letter-spacing: 8px;
  position: relative;
  top: -25px;
  width: 100%;
  grid-column: span 3;
  height: 30px;
  z-index: 0;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

input {
  border: 1px solid black;
  margin: 0 10px;
  z-index: 1;
}

label {
  font-family: 'Orbitron', sans-serif;
  font-size: 20px;
}

button {
  height: 25px;
}

.hidden {
  display: none;
}