@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: 'Pokemon Solid', sans-serif;
    font-size: 60px;
    text-align: center;
    letter-spacing: 6px;
    position: relative;
    width: 100%;
    height:70px;
    padding-top: 10px;
    color: rgb(248, 219, 25);
    -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: rgb(40, 81, 245);
}

.banner-gradient {
    background: linear-gradient(90deg, rgb(134, 134, 134) 0%, rgb(236, 192, 116) 10%, rgb(236, 192, 116) 90%,  rgba(134, 134, 134, 1) 100%);
}

.dancing {
    animation: dance 1s 2;
}

@keyframes dance {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}